@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600;900&display=swap');

body {
    background-color: #22254b;
    color: white;
    font-family: "poppins", sans-serif;
    margin: 0
}

header{
    background-color:#373b69 ;
    display: flex;
    padding: 1rem;  
    justify-content: center;
    max-height: 10vh;
}

.title {
  width: 70%;
  color: #22254b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
    font-size: 4.5rem;
    font-family: 'Sansita Swashed', cursive;
}

.form{
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.search {
    background-color: transparent ;
    border: 1px solid #22254b ;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}
.root {
    display: flex;
    flex-direction: column ;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.movie {
    background-color: #373b69;
    position: relative;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 1rem;
}

.movie img {
    max-width: 100%;
   
}

.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-over {
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #373b69;
    position: absolute;
    bottom: 0;
    overflow: auto;
    max-height: 100%;
    left: 0;
    right: 0;
    transform: translatey(100%);
    transition: transform 0.5s ease-in-out;
}

.movie:hover .movie-over {
    transform: translateX(0%);
}

.tag {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.5rem;
}

.tag.green{
    color: green;
}

.tag.orange{
    color: orange;
}

.tag.red{
    color: red;
}

@media screen and (max-width: 680px) {
    h1 {
            font-size: 30px;
            font-family: 'Sansita Swashed', cursive;
            text-align: start;
            width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .search {
        background-color: transparent ;
        border: 1px solid #22254b ;
        border-radius: 50px;
        color: white;
        font-family: inherit;
        font-size: 0.6rem;
        padding: 0.5rem 1.5rem;
        justify-content: right;
        width: 110%;
    }
}

@media screen and (max-width: 680px){
    .title {
        width: 80%;
        color: #22254b;
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        max-height: 10vh;
      }
      
}

@media screen and (max-width: 680px) {
    header{
        background-color:#373b69 ;
        display: flex;
        padding: 1rem;  
        
        max-height: 10vh;
    }
}

@media screen and (max-width: 680px) {
    .movie-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 680px){
    .movie {
        background-color: #373b69;
        position: relative;
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 120px;
        margin: 0.5rem;
    }
}

@media screen and (min-width: 480px){
    .movie {
        background-color: #373b69;
        position: relative;
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 200px;
        margin: 0.5rem;
    }
}
@media screen and (max-width: 380px){
    .movie {
        background-color: #373b69;
        position: relative;
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 120px;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 680px) {

}